html { 
    background: url(b6583353-8fd6-4445-840d-3bfcef535e60.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }